html {box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/* 
pozadí stránek bílá .. #FAFAFA
černá ................ #000000 
šedá ................. #8B8B8B
primární modrá ....... #407BFF
bílá ................. #FFFFFF
světle modrá ......... #407BFF1F

    H1 - Montserrat, Medium - 28px, #000000 
    Běžný text - Montserrat, Light - 16px, #8B8B8B
    Text na tlačítku, Montserrat, Regular - 14px, #FFFFFF
    H2 - Montserrat, Medium - 16px, #000000
    Text uvnitř rámečku - Montserrat, Light - 13px, #8B8B8B

    font-family: 'Montserrat', sans-serif;
 */

 body {
    font-family: 'Montserrat', sans-serif;
    background-color: #FAFAFA;
    width: 500px;
    display: block;
    position: relative;
    justify-content: center;
    text-align: center;
    
}
h1 {
    font-family: 'Montserrat, Medium', sans-serif;
    font-size: 28px;
    color: #000000;
}

h2 {
    font-family: 'Montserrat, Medium', sans-serif;
    font-size: 16px;
    color: #000000;
    margin-top: 60px;
}

.obrazek img {
    max-width: 100%
}

/*  nevím, jak mám dát na střed :(  */
.cara {
    background-color: #407BFF;
    width: 60px;
    height: 2px;
}

.sluzby-ck {
    display: flex;
    text-align: left;
    color: #8B8B8B;
    font-family: 'Montserrat, Light', sans-serif;
    font-size: 13px;
    margin: 0 20px;
    align-items: center;
    justify-content: left;
    flex-basis: 460px;
    box-shadow: 0 4px 6px #acc5fc;
    border-radius: 10px;
}
.sluzby-ck img {
    padding: 20px;
 }

.sluzby-d {
    display: flex;
    text-align: left;
    color: #8B8B8B;
    font-family: 'Montserrat, Light', sans-serif;
    font-size: 13px;
    margin: 0 20px;
    align-items: center;
    justify-content: left;
    flex-basis: 460px;
    box-shadow: 0 4px 6px #acc5fc;
    border-radius: 10px;
}

.sluzby-d img {
    padding: 20px;
 }


/*  tlačítka  */

.prvni {
    border-radius: 14px;
    box-shadow: none;
    border-style: none;
    background-color: #407BFF;
    color: #FAFAFA;
    padding: 11px 30px;
    margin-bottom: 10px; 
    font-family: 'Montserrat, Regular', sans-serif;
    font-size: 14px;
}

.druhy {
    border-radius: 14px;
    box-shadow: none;
    border-style: none;
    background-color: #8B8B8B;
    color: #FAFAFA; 
    padding: 11px 30px; 
    background-position: center; 
    font-family: 'Montserrat, Regular', sans-serif;
    font-size: 14px;
}

p {
    width: 460px;
    margin: 30px 20px;
}

.odstavec {
    color: #8B8B8B;
    font-family: 'Montserrat, Light', sans-serif;
    font-size: 16px;    
}
  
/* pro tablety*/
@media screen and (min-width:640px) {
body {
    width: 768px;
}

h2 {
    margin-top: 80px;
}
.obrazek img {
    margin: 60px 184px 20px 184px;
}

p {
    width: 550px;
    margin: 30px 109px;
}

.tlacitka {
    display: flex;
    width: 435px;
    justify-content: center;
    align-items: baseline;
    margin: 41px 166px 40px 167px;
}

.prvni {
    margin-right: 18px;
}

.ikony {
    display: flex;
    flex: auto;
}

.sluzby-ck,
.sluzby-d {
    width: 30%;
    height: 170px;
    flex-direction: column;
    justify-content: center;
}

.sluzby-ck p,
.sluzby-d p {
    margin: 0;
    width: 100%;
    text-align: center;
}
}

/* pro pc*/
@media screen and (min-width:1100px) {

body {
    width: 1040px;
    margin: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
    .box-a {
        order: 2;
    }.box-b {
        order: 1;
    }.box-c {
        order: 4;
    }.box-d {
        order: 3;
    }.box-e {
        order: 5;
    }.box-f {
        order: 6;
    }

/* první sekce */

.box-a {
    margin: 0 32px 80px 32px;
}
.obrazek img {
    width: 425px;
    margin: 0;
    justify-content: center;
}

.box-b {
    display: block;
    text-align: left;
    margin: 40px 0 40px 0;
    width: 490px;
    align-items: center;
}
.cara {
    margin-bottom: 30px;
}
.odstavec {
    margin: 0;
    width: 430px;
}

.tlacitka {
    justify-content: left;
    margin: 41px 0 40px 0;
}

.box-a,
.box-b {
    display: block;
}

/* 
prostřední sekce 

Nevím, jak mám v této 
sekci dát text zarovnaný na střed - rovnoběžně s ikonami :(
*/

.ikony {
    margin: 0;
}

.box-c,
.box-e {
    width: 430px;
    text-align: left;
    margin-bottom: 80px;
}

/* 
spodní sekce 

Nevím, jak mám v této 
sekci dát text zarovnaný na střed - rovnoběžně s ikonami :(
*/

.box-d,
.box-f {
    width: 550px;
    margin-bottom: 80px;
    align-items: start;
}

}
